<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990122522024-q03uvfs16hfg0gnurm2akvin2lstc91a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990122522024-q03uvfs16hfg0gnurm2akvin2lstc91a</string>
	<key>API_KEY</key>
	<string>AIzaSyDMD5e_QPjlssBR8VrHg3kmlvXzJlQwfBU</string>
	<key>GCM_SENDER_ID</key>
	<string>990122522024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shersoft.sheraccerp</string>
	<key>PROJECT_ID</key>
	<string>sheraccerp-8495a</string>
	<key>STORAGE_BUCKET</key>
	<string>sheraccerp-8495a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990122522024:ios:6c6a1f606330135459199d</string>
</dict>
</plist>